<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="board">

	<select id="memberList" resultType="memberVo">
		select * from member
	</select>
	
	<insert id="addMem" parameterType="memberVo">
		insert into member values (seq_member.nextval, mem_id = ${id}, mem_pw =  ${pw}, sysdate)
	</insert>
	
	<select id="boardList" resultType="boardVo" >
		select * from board
	</select>
	
	<insert id="addBoard" parameterType="boardVo">
		insert into board values (seq_board.nextval, bo_title = ${title}, bo_content = ${content}, bo_writer = ${id} ,0 )
	</insert>
	
	<delete id="delBoard" parameterType="boardVo">
		delete from board where bo_writer = ${id};
	</delete>
</mapper>