<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  <!-- 
  	[마이바티스] 스프링에서"_"를 사용한 컬럼명 사용 시 (BOOk 테이블의 BOO_ID와 같은 컬럼명)을
  	카멜케이스로 읽어주는 역할(bookId와 같이)
  	ex) 테이블 컬럼명이 member_id인 경우 jsp화면단에서 이 값을 사용시 memberId로 사용할 수 있다.
   -->
  	<settings>
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
  	</settings>
  	
  	<!-- 자주 사용하는 타입의 별칭을 셋팅 -->
  	<typeAliases>
<!--   		<typeAlias type="클래스명(패키지 구조를 포함)" alias="별칭명"/> -->
  		<typeAlias type="kr.or.ddit.vo.Board" alias="board"/>
  		<typeAlias type="kr.or.ddit.vo.MemberVO" alias="memberVo"/>
  		<typeAlias type="kr.or.ddit.vo.MemberAuth" alias="memberAuth"/>
  		<typeAlias type="kr.or.ddit.vo.NoticeVO" alias="noticeVo"/>
  		<typeAlias type="kr.or.ddit.vo.PaginationInfoVO" alias="pagingVo"/>
  		<typeAlias type="kr.or.ddit.vo.Item" alias="item"/>
  		<typeAlias type="kr.or.ddit.vo.Item2" alias="item2"/>
  	</typeAliases>
  </configuration>